span::before{
    content: '';
    height: 3px;
    width: 50px;
    background-color: red;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-right: 5px;
}


span::after{
    content: '';
    height: 3px;
    width: 50px;
    background-color: red;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
}

